<mat-card class="example__card" [class.selected]="currentSelected == model">

  <!--<mat-card-header >-->
  <!--</mat-card-header>-->

  <img mat-card-image style="margin-bottom: 0" [src]="model.url" [alt]="model.name">
  <!--<mat-divider></mat-divider>-->

  <div style="
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  color: white;
  font-weight: lighter;
  background-color: #3f51b5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 75%;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
">
    {{ index }}
  </div>
  <mat-card-actions style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 0">
    <div>
      <div *ngIf="!model.mark; else unset">
        <button mat-button color="primary" (click)="model.mark = true">LIKE</button>
      </div>
      <ng-template #unset>
        <button mat-button color="accent" (click)="model.mark = false">DISLIKE</button>
      </ng-template>
    </div>
    <div>
      <div *ngIf="model.mark; else empty_text">
        <span class="like__notification">You&nbsp;like&nbsp;it!</span>
      </div>
      <ng-template #empty_text>
        <br>
      </ng-template>
    </div>
  </mat-card-actions>

</mat-card>
