app-sidebar-thumbnail {
  cursor: pointer;
}

.static__text {
  z-index: 1;
  background-color: #fafafa;
  cursor: default;
  border: 0;
  border-radius: 0;
}

.side__cards {
  height: 91%;
  overflow-y: auto;
}

.accent {
  color: forestgreen;
}

.warning {
  color: indianred;
}
