<p>
  Hello👋 <br>
  Do not worry, there are no timers and you can safely work. You can safely continue to work on another device 📱 💻 🖥. <br>
</p>
<ol>
  <li>Look through all the layouts 🖼;</li>
  <li>Identify what are good in your opinion and who have weaknesses 📊;</li>
  <li>Comment on each of them. Write what's good in them and what's wrong 🗞;</li>
  <li>Identify the 5 best ❤️;</li>
  <li>Click the "Continue" button ➡️.</li>
</ol>
You will be able to come back here ↩️
<button mat-stroked-button [mat-dialog-close]="">Understand</button>
